trabajo-de-web-pagina
=====================

trabajo en equipo
body,html{
	margin: 0;
	padding: 0;
	color: #000;
	font-family: arial;
}
h1{
	margin: 0;
}
.contenedor{
	width:900px;
	margin: 0 auto;
}
.cabecera{
	background: #333;
	color: #fff;
	text-align: center;

	
}
.cuerpo{
	width: 560px;
	
	height: 300px;
	float: left;
	padding: 20px;
}

.menu li:hover {
	background: orange;
}


.sidebar{
	width: 270px;
	height:650px ;
	float: left;
	
	padding: 10px 15px;
	
	background: #ccc;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;

	


}


.sidebar h3 {
	text-transform: uppercase;
	box-shadow: 3px 3px yellow;
background-color:#008b8b;
text-decoration: none;
text-align: center;
color: white;


}
.sidebar li {
	margin: 15px 5px 5px 5px ;
	width: 200px;
	text-transform: uppercase;
	box-shadow: 1px 1px  1px 1px #FF4500;
background-color:#00FF00 ;
text-decoration: none;
text-align: center;
color: black;



}

.sidebar ul{
	margin-left: 0px;
	list-style: none;
	
	text-decoration: none;


	color:black;




}	
.pie{
	height: 30px;
	background: #000;
	margin: auto;

}
.menu ul {
	padding: 0;
	margin:15px 0 0 0;
}
.menu li {
display: block;
width: 172px;
height: 20px;
float: left;
text-align: center;
font-weight: bold;
padding: 8px 0;
border-left: 1px solid #fff;

}
.menu li a {
	text-decoration: none;
	color: #ccc;
}
